.app-container {
    background-color: red;
    height: 100vh;
    width: 100vw;
    padding: 1%;
    display: flex;
    flex-direction: row;
}

.app-side-bar {
    background-color: gray;
    flex: 1;
}

.app-main-container {
    margin: 5%;
    flex: 5;
    display: flex;
    flex-wrap: wrap;
}