
<div class="d-flex flex-row flex-wrap">
  <div class="card m-3 flex-2 card-container">
    <div class="row g-0">
      <div class="col-md-4">
        <img [src]="pokemon?.image" class="img-fluid rounded-center" alt="...">
      </div>
      <div class="col-md-8 p-4">
        <div class="card-body">
          <h3 class="card-title m-1">{{pokemon?.name}}</h3>
          <p class="card-text m-1">Specie: {{pokemon?.species}}</p>
          <p class="card-text m-1">Status: {{pokemon?.status}}</p>
          <p class="card-text m-1">Type: {{pokemon?.type}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex flex-column">
  <h1 class="flex-1 m-5 text-danger">VS</h1>
  <button type="button" (click)="randomise()" class="btn btn-danger btn-round">Click Me!</button>
  </div>
  <div class="card m-3 flex-2 card-container">
    <div class="row g-0">
      <div class="col-md-4">
        <img [src]="rick?.image" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8 p-4">
        <div class="card-body">
          <h3 class="card-title m-1">{{rick?.name}}</h3>
          <p class="card-text m-1">Specie: {{rick?.species}}</p>
          <p class="card-text m-1">Status: {{rick?.status}}</p>
          <p class="card-text m-1">Type: {{rick?.type}}</p>
        </div>
      </div>
    </div>
  </div>
</div>